body{
	
}
h1 {
	font-family: cursive;
	text-align: center;
}
hr {
	background-color: black;
	height: 3px; 
	width: 20%;
	margin-left: 40%

}
div {
	display: inline-block;
	height: 210px;
	margin-left: 80px;
	position: relative;
	left: 50px;
}
.margen {
	border: 5px dotted blue;
	border-radius: 50%;
}
.posicion{
	position: relative;
	top: 30px;

}
p {
	color: white;
	position: relative;
	bottom: 50px;
 	text-align: right;
}
img {
	opacity: 0.9;
	border-radius: 50%;
}